@font-face {
    font-family: "tmon";
    font-weight: normal;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/wefonts/tmon/tmon.eot");
    src: url("https://cdn.jsdelivr.net/gh/wefonts/tmon/tmon.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/wefonts/tmon/tmon.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/wefonts/tmon/tmon.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/wefonts/tmon/tmon.ttf") format("truetype");
    font-display: swap;
} 
.tmon {
    font-family: "tmon";
}
